@charset "utf-8";
/* CSS Document */

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    font-family: 'Advent Pro', sans-serif;
    margin: 0;
    background: #969a9d;
}

.res {
    width: 100%;
    height: 90%;
    background: url(../img/mountains.jpg);
    background-position: bottom;
    background-size: cover;
}


.background {
    position: absolute;
    width: 1400px;
    height: 750px;
    left: 50%;
    margin-left: -700px;
    top: 50%;
    margin-top: -375px;
}

.background img {
    position: absolute;
}

.content h1 {
    font-size: 100px;
    font-weight: 300;
    margin: 0;
    color: #FFF;
    /*text-shadow: 0 0 10px #969a9d;*/
}

.content {
    position: absolute;
    top: 25%;
    left: 50%;
    text-align: center;
    width: 320px;
    margin-left: -160px;
    margin-top: -120px;
}

.button {
    display: inline-block;
    font-family: 'Advent Pro', sans-serif;
    color: #EEE;
    border: none;
    height: 50px;
    width: 125px;
    line-height: 50px;
    font-size: 18px;
    background: #35215f;
    outline: none;
    transition: .3s all;
    opacity: .75;
    cursor: pointer;
}

.button.sub {
    background: #0162a2;
}

.button:hover {
    opacity: .9;
}

.content .date {
    font-size: 30px;
    margin: -10px 0 15px;
    color: #FFF;
    /*text-shadow: 0 0 10px #969a9d;*/
}

.content img {
    padding: 0 50px;
    max-width: 100%;
}

.section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
}

.section h2 {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}

div#faq {
    margin-top: -50px;
    margin-bottom: 100px;
}

.scroll { /* Carousel Frame */
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
}

.scroll ul {
    /* width: 100% !important; */
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.scroll ul li {
    float: left;
    width: 210px;
    min-height: 275px;
    background: #fff;
    color: #444;
    padding: 10px;
    text-align: left;
    transform: scale(.95);
    transition: .3s all;
    opacity: .7;
    cursor: pointer;
}

#faq-blocks li strong {
    display: block;
    font-size: 20px;
    font-weight: normal;
    color: #000;
    margin-bottom: 5px;
}

#faq-blocks li a {
    color: #0162a2;
    cursor: pointer;
    text-decoration: none;
}

.scroll ul li.itemslide-active {
    transform: scale(1);
    opacity: 1;
    margin: 0 5px;
}

.contact {
    display: block;
    background: #FFF;
    margin-top: 30px;
    opacity: .5;
    transition: .3s all;
    padding: 10px;
    border-radius: 25px;
}

.contact:hover {
    opacity: .75;
}

.contact span {
    font-size: 18px;
}

.contact .social-link {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.contact .social-link li {
    display: inline;
}

.contact .social-link li a {
    color: #333;
    transition: .3s all;
    padding: 0 5px;
}

.contact .social-link li.twitter a:hover {
    color: #55acee;
}

.contact .social-link li.facebook a:hover {
    color: #3b5998;
}

.contact .social-link li.email a:hover {
    color: #ed77d8;
}



