@charset "utf-8";
/* CSS Document */

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    font-family: 'Advent Pro', sans-serif;
    margin: 0;
    background: #969a9d;
}

.res {
    width: 100%;
    height: 90%;
    background-image: url(../img/mountains.jpg); 
    background-size: cover;
    background-position-x: center;
}

#mountainBack {
    position: absolute;
    width: 100%;
    height: 90%;
}

img#tree {
    width: 50%;
    max-width: 600px;
    position: absolute;
    top: 0;
    margin-top: -15px;
    margin-left: -15px;
}

.content h1 {
    font-size: 100px;
    font-weight: 300;
    margin: 0;
    color: #FFF;
    /*text-shadow: 0 0 10px #969a9d;*/
}

.content {
    position: absolute;
    top: 25%;
    left: 50%;
    text-align: center;
    width: 320px;
    margin-left: -160px;
    margin-top: -120px;
}

.button {
    display: inline-block;
    font-family: 'Advent Pro', sans-serif;
    color: #EEE;
    border: none;
    height: 50px;
    width: 125px;
    line-height: 50px;
    font-size: 18px;
    background: #35215f;
    outline: none;
    transition: .3s all;
    opacity: .75;
    cursor: pointer;
}

.button.sub {
    background: #0162a2;
}

.button:hover {
    opacity: .9;
}

.content .date {
    font-size: 30px;
    margin: -10px 0 15px;
    color: #FFF;
}

.content img {
    padding: 0 50px;
    max-width: 100%;
}

.section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
}

.section h2 {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}

div#faq {
    margin-top: -50px;
    height: 450px;
}

.scroll { /* Carousel Frame */
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 345px;
    display: block;
    text-align: center;
}

.scroll ul {
    /* width: 100% !important; */
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.scroll ul li {
    float: left;
    width: 250px;
    min-height: 320px;
    background: #fff;
    color: #444;
    padding: 15px 10px;
    text-align: left;
    transform: scale(.95);
    transition: .3s all;
    opacity: .65;
    cursor: pointer;
}

.scroll ul li:hover {
    opacity: .75;
}

#faq-blocks li strong {
    display: block;
    font-size: 22px;
    font-weight: normal;
    color: #000;
    margin-bottom: 5px;
}

#faq-blocks li a {
    color: #0162a2;
    cursor: pointer;
    text-decoration: none;
}

.scroll ul li.itemslide-active {
    transform: scale(1);
    opacity: 1;
    margin: 0 5px;
}

div#sponsor {
    text-align: center;
}

div#footer {
    text-align: center;
    font-size: 12px;
}

div#footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

div#footer a:hover {
    text-decoration: underline;
}

div#footer span {
    font-size: 14px;
}

div#footer .social a {
    display: inline-block;
    margin: 10px;
    padding: 0;
    border: none;
    background: none;
    vertical-align: middle;
    position: relative;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    transition: all 0.3s;
}

div#footer .social a i {
    font-size: 16px;
    width: 22px;
    line-height: 40px;
}

div#footer .social a:hover {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 5px;
}

div#footer .social a.twitter {
    background: #55acee;
}

div#footer .social a.facebook {
    background: #3b5998;
}

div#footer .social a.email {
    background: #ed77d8;
}

@media screen and (max-height: 760px) {
    div#faq {
        margin-top: 0px;
    }
}

@media screen and (max-height: 600px) {
    div#faq {
        margin-top: 50px;
    }

    img#tree {
        display: none;
    }
}


@media screen and (max-height: 500px) {
    .res {
        height: 500px;
    }
}
