@charset "utf-8";
/* CSS Document */

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    font-family: 'Advent Pro', sans-serif;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.res {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('retina_wood.png');
    overflow: hidden;
}

.shake {
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.4s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}


.background {
    position: absolute;
    width: 1400px;
    height: 750px;
    left: 50%;
    margin-left: -700px;
    top: 50%;
    margin-top: -375px;
}

.background img {
    position: absolute;
}

#headphones {
    display: block;
    height: 230px;
    left: 210px;
    top: 180px;
    transform: rotate(-8deg);
}

#tea {
    display: block;
    height: 200px;
    left: 350px;
    top: 0px;
}

#plant {
    display: block;
    right: 0px;
    left: 980px;
    top: 250px;
    height: 350px;
}

#phone {
    display: block;
    height: 450px;
    left: 315px;
    top: 350px;
    transform: rotate(-15deg);
}

#pen {
    display: block;
    height: 200px;
    left: 913;
    top: 300px;
    transform: rotate(14deg);
}

#peach {
    display: block;
    height: 150px;
    left: 140px;
    top: 500px;
    transform: rotate(-5deg);
}

#notebook {
    display: block;
    height: 600px;
    left: 678px;
    top: 450px;
    transform: rotate(24deg);
}

#laptop {
    display: block;
    height: 600px;
    right: -210px;
    top: -230px;
    transform: rotate(25deg);
}

#raspberry_pi {
    display: block;
    height: 250px;
    left: 450px;
    top: 225px;
    transform: rotate(10deg);
}

.question {
    display: none;
    position: absolute;
    background: white;
    z-index: 1000;
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}

@media (min-width: 32em) {

.question { 
    width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}
}

.question .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.question .modal-header h3 { margin: 0; }

.question .answer { padding: 1.5em; }

.question .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.btn {
  font-size: 3vmin;
  padding: 0.75em 1.5em;
  background-color: #fff;
  border: 1px solid #bbb;
  color: #333;
  text-decoration: none;
  display: inline;
  border-radius: 4px;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.btn:hover {
  background-color: #ddd;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.btn-small {
  padding: .75em 1em;
  font-size: 0.8em;
}

.question-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(-15deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-16deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(-14deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(-15deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(-14deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-16deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(-15deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-16deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(-14deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(-15deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-16deg); }
}
